# Node modules
node_modules/

# Next.js build output
.next/

# Logs
logs
*.log
npm-debug.log*

# Vercel
.vercel

# Fichiers spécifiques à l'environnement
*.env

# Dossiers temporaires
tmp/
temp/

# Autres dossiers de cache ou de build
node_modules/
.next/
logs/
tmp/
temp/
.cache/
dist/
build/
